@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

}
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

.text-primary{
  color: green !important;
}

.card_blur {
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.slogan .username{
  /* font-size: 3rem; */
  font-weight: 900;
  background: linear-gradient(
    40deg,
    rgb(8, 236, 8),
    rgb(9, 29, 250),
    rgba(6, 214, 221, 0.555),
    rgb(0, 250, 0)
  );
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text 10s ease-in infinite;
}

@keyframes text {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.login_card{
  background: linear-gradient(123deg, #FFFFFF 0%, #00B2FF 100%), linear-gradient(236deg, #BAFF99 0%, #005E64 100%), linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
background-blend-mode: overlay, overlay, overlay, darken, normal;
}
.choose{
  background: url('/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_speed{
  background: url('/cloudspeed.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card_bg{
  background: url('/card-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom_bg{
  background: url('/footer-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.policy_bg{
  background: url('/policy-bg.svg');
  background-size: cover;
}
.call_btn:hover{
  background: url("/policy-bg.svg");
  background-position: bottom;
  color: white;
  transform: translateY(-10px);
  transition: .5s ease;
}
.morph{
background: #3a8ad074;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(19.7px);
-webkit-backdrop-filter: blur(19.7px);
}
.morph_nav{
background: #3a8ad074;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(19.7px);
-webkit-backdrop-filter: blur(19.7px);
}